@model DetailsView
@{
    ViewBag.Title = "Detail Friend | Details";
}
<h1>@Model.Title</h1>
<h4>@Model.SubTitle</h4>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h2>@Model.Friend.Name</h2>
            </div>
            <div class="card-body text-center">
                <div class="mb-3">
                    <img src="https://loremflickr.com/640/480/rusia,girl?random=3" style="width:100%" alt="" asp-append-version="true" />
                </div>
                <p>Friend Id: @Model.Friend.Id</p>
                <p>Name: @Model.Friend.Name</p>
                <p>Email: @Model.Friend.Email</p>
                <p>City: @Model.Friend.City</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Return</a>
                <a href="#" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Script {
    <script src="/js/site.js" asp-append-version="true"></script>
}