@model DetailsView
@{
    ViewBag.Title = "Detail Friend | Details";
}
<h2>@Model.Title</h2>
<h5>@Model.SubTitle</h5>
<p>@Model.Friend.Name</p>
<p>@Model.Friend.Email</p>
<p>@Model.Friend.City</p>

@section Script {
    <script src="/js/site.js"></script>
}