@model DetailsView
@{
    ViewBag.Title = "Detail Friend | Details";

    //El operador de uso combinado de NULL ?? devuelve el valor del operando izquierdo si no es null; en caso contrario evalúa el operando derecho y devuelve su resultado.

    // var routePhoto = "/img/" + (Model.Friend.RoutePhoto ?? "https://loremflickr.com/640/480/brazil,girl?random=3");
    var routePhoto = Model.Friend.RoutePhoto != null ? "/img/" + Model.Friend.RoutePhoto : "https://loremflickr.com/320/240/peru,girl?random=" + Model.Friend.Id;
}
<h1>@Model.Title</h1>
<h4>@Model.SubTitle</h4>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h2>@Model.Friend.Name</h2>
            </div>
            <div class="card-body text-center">
                <div class="mb-3">
                    <img src="@routePhoto" style="width:100%" alt="" asp-append-version="true" />
                </div>
                <p>Friend Id: @Model.Friend.Id</p>
                <p>Name: @Model.Friend.Name</p>
                <p>Email: @Model.Friend.Email</p>
                <p>City: @Model.Friend.City</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Return</a>
                <a class="btn btn-warning" asp-controller="home" asp-action="edit" asp-route-id="@Model.Friend.Id">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Script {
    <script src="/js/site.js" asp-append-version="true"></script>
}